<div id="head" class="head">
	<div class="headBar">
		<div class="fixedStick">
			<div id="headerMenuToggleBtn" class='headerMenuToggleBtn'>
				<img src="img/headMenuIcon.svg">
			</div>
			<div class='headerLogo'>
				SECRET_TOOLS
			</div>
		</div>
	</div>
	<div id="menu" class="menu">
		<div id="menuCover" class="menuCover"></div>
		<div class="menuBody">
			<div id="userNameInMenu" class="userNameInMenu" onclick="window.location.href='index'">
				欢迎<br>游客
			</div>
			<div id='menuList' class="menuList">
			</div>
			<div class="menuHelpInfo">
				向左或者向上滑动收起菜单
			</div>
		</div>
	</div>
	<div class="holder1"></div>
</div>
