<div class="head">
	<div id="menu" class="menu">
		<div id="menuCover" class="menuCover"></div>
		<div class="menuBody">
			<div class="holder1"></div>
			<div id="userNameInMenu" class="userNameInMenu">
				Blind Holmes
			</div>
			<div id='menuList'>
			</div>
			<div class="menuHelpInfo">
				向左或者向上滑动收起菜单
			</div>
		</div>
	</div>
	<div class="headBar">
		<div class="fixedStick">
			<div id="headerMenuHamburger" class='headerMenuHamburger'>
				<img src="img/headMenuIcon.svg">
			</div>
		</div>
	</div>
	<div class="holder1"></div>
</div>
