.confirmDomShow {
  display: flex !important;
  z-index: 999; }

.confirmDom {
  position: fixed;
  top: 0rem;
  width: 100%;
  max-width: 750px;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: none; }
  .confirmDom .confirmDomCover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 5; }
  .confirmDom .confirmDomBody {
    width: 85%;
    z-index: 6;
    background-color: #ADD5F7;
    color: #35478C;
    box-shadow: 0 0 0.5rem #FFFFFF;
    position: relative; }
    .confirmDom .confirmDomBody .confirmDomBodyTitle {
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 1rem;
      font-weight: bold;
      text-align: center;
      overflow: hidden; }
    .confirmDom .confirmDomBody .confirmDomBodySubTitle {
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
      font-size: 1rem;
      color: #4E7AC7;
      font-style: italic;
      text-align: center;
      overflow: hidden; }
    .confirmDom .confirmDomBody .confirmDomBodyContent {
      margin-left: 1rem;
      margin-right: 1rem;
      overflow: auto;
      max-height: 25rem;
      white-space: pre-wrap;
      word-wrap: break-word;
      margin-bottom: 2rem; }
    .confirmDom .confirmDomBody .confirmDomBodyBtn {
      position: relative; }
      .confirmDom .confirmDomBody .confirmDomBodyBtn .confirmDomBtnGroup {
        position: absolute;
        top: -1.5rem;
        right: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center; }
        .confirmDom .confirmDomBody .confirmDomBodyBtn .confirmDomBtnGroup .confirmDomBodyConfirmBtn {
          background-color: #35478C;
          color: #FFFFFF;
          padding: 0.8rem;
          border: 0.2rem solid #16193B;
          border-radius: 0.5rem; }
        .confirmDom .confirmDomBody .confirmDomBodyBtn .confirmDomBtnGroup .confirmDomBodyCancelBtn {
          margin-right: 0.5rem;
          color: #ADD5F7;
          background-color: #16193B;
          padding: 0.65rem; }
