$color-base: #ADD5F7;
$color-deep1: #7FB2F0;
$color-deep2: #4E7AC7;
$color-deep3: #35478C;
$color-deep4: #16193B;
$color-title: #FFFFFF;

html{
	font-size: 15px;
	font-size: 4vw;
}
body{
	position:relative;
	font-family: "gotham_bookregular","Gotham Book","GothamBook","Helvetica Neue","Helvetica","Arial,sans-serif","Hiragino Sans GB","Microsoft YaHei";
	margin: 0 auto;
	max-width: 750px;
	font-size: 1.2rem;
	text-align: justify;
	width: 100%;
	overflow-x: hidden;
	background-color: $color-base;
	color: $color-deep3;
}
pre{
	white-space: pre-wrap;
	word-wrap: break-word;
}
.content{
	.text{
		background-color: $color-deep1;
		padding: 1rem 0;
		display: block;
		width: 80%;
		text-align: center;
		margin: 0 auto;
	}
}
@media screen and (min-width: 750px){
	html{
		font-size: 30px;
	}
}
img{
	width: 100%;
	display: block;
}
input{
	display: block;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
}
button{
	border: 0;
	background-color: transparent;
	outline: none;
	font-size: 1rem;
}

.head{
	.menu{
		width: 18rem;
		height: 100%;
		position: fixed;
		background: $color-deep3;
		color: $color-title;
		box-shadow: 0 0 7px 0 rgba( 0, 0, 0, 0.75 );
		display: none;
		z-index: 10;
		.menuCover{
			position: absolute;
			top: 0px;
			left: 0px;
			width: 25rem;
			height: 1000rem;
			background: rgba(0, 0, 0, 0.65);
		}
		.menuBody{
			background: $color-deep3;
			position: relative;
			height: 100%;
			top: 0px;
		}
		.menuItem{
			border-top: 1px solid $color-deep2;
			border-bottom: 1px solid $color-deep4;
			font-size: 1.2rem;
			height: 3rem;
			line-height: 3rem;
			text-align: center;
		}
		.userNameInMenu{
			text-align: center;
			height: auto;
			font-size: 1.5rem;
			padding: 1rem 0rem;
			box-shadow: inset 0 -4px 8px 0 $color-deep4;
		}
		.menuHelpInfo{
			color: $color-base;
			text-align: center;
			height: 3rem;
			line-height: 3rem;
			font-size: 1rem;
			overflow: hidden;
			position: absolute;
			bottom: 0px;
			width: 18rem;
		}
		.menuList{
			max-height: 40rem;
			overflow: auto;
		}
	}
	.headBar{
		color: $color-title;
		.fixedStick{
			background: $color-deep3;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			text-align: center;
			z-index: 5;
			box-shadow: 0 0 7px 0 rgba( 0, 0, 0, 0.75 );
			overflow: hidden;
			max-width: 750px;
			margin: 0 auto;
			height: 3.8rem;
			display: table-row;
		}
		.headerMenuToggleBtn{
			width: 2rem;
			display: block;
			padding-left: 1rem;
			padding-right: 1rem;
			position: absolute;
			left: 0;
			top: 0.7rem;
		}
		.headerLogo{
			text-align: center;
			line-height: 3.8rem;
			font-style: italic;
			font-weight: bold;
		}
	}
	.holder1{
		height: 3.8rem;
		width: 100%;
	}
}
.tableList{
	margin: 0 1rem;
	// background: $color-deep1;
	font-size: 0.9rem;
	.tableCell{
		margin-bottom: 1rem;
	}

	.tableLineCell1{
		width: 75%;
		height: 100%;
	}

	.tableLineCell2{
		width: 25%;
		height: 100%;
	}
	.tableLineCell3{
		width: 50%;
		height: 100%;
	}

	.tableLine{
		width: 100%;
		overflow: hidden;
		height: 2rem;
		line-height: 2rem;
		border-top: 1px solid $color-base;
		box-shadow: 1px 1px 5px $color-deep3;
		background: $color-deep1;
	}

	.tableTitle{
		width: 25%;
		background: $color-deep3;
		color: $color-title;
	}

	.tableLine div {
		float: left;
		text-align: center;
	}
}

.btn{
	width: 6.5rem;
	line-height: 2.5rem;
	height: 2.5rem;
	margin: 0 auto;
	text-align: center;
	background-color: $color-deep2;
	color: $color-base;
}
.lable{
	width: 30%;
	height: 2rem;
}
.inputDom{
	width: 60%;
	height: 2rem;
}
.inputGroup{
	width: 100%;
	display: inline-block;
	margin-bottom: 0.5rem;
}
.inputBase{
	color: $color-deep3;
	outline: none;
	border: 0px solid $color-deep3;
	background: $color-base;
	width: 100%;
	height: 100%;
	font-size: 1.2rem;
}
.userLoginDom{
	width: 100%;
	white-space: normal;
}
.leftFloat{
	float: left;
}

.content{
	padding: 1rem;
}

.foot{

}
