@import "colorConfig.scss";

.fileInput{
	display: none;
}

audio, video{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.progressBar{
	width: 0%;
	height: 100%;
	background: $color-deep2;
	opacity: 50%;
}

.progressPresent{
	position: absolute;
	width: 62%;
	line-height: 0.9rem;
	margin-top: 0.1rem;
	text-align: right !important;
	font-size: 0.8rem;
	color: $color-title;
}

.uploadBtnClass{
	text-align: center;
    float: left;
    margin-right: 1rem;
}

.lable{
	line-height: 2.5rem;
	height: 2.5rem;
	width: 96%;
	text-align: left;
	padding-left: 4%;
}