<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<%- globalHtmlHeadTag %>
	<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
	<%- globalHtmlBodyHeadTag %>
	<div class="content">
		<div>
			Welcome Friend!
		</div>
		<pre contenteditable="true">
Two roads diverged in a yellow wood, And sorry I could not travel both And be one traveler, long I stood And looked down one as far as I could To where it bent in the undergrowth;

Then took the other, as just as fair, And having perhaps the better claim, Because it was grassy and wanted wear; Though as for that the passing there Had worn them really about the same,

And both that morning equally lay In leaves no step had trodden black. Oh, I kept the first for another day! Yet knowing how way leads on to way, I doubted if I should ever come back.

I shall be telling this with a sigh Somewhere ages and ages hence: Two roads diverged in a wood, and I took the one less traveled by, And that has made all the difference. 
		― Robert Frost

I carry your heart with me (I carry it in my heart) I am never without it (anywhere I go you go,my dear; and whatever is done by only me is your doing,my darling) I fear no fate (for you are my fate,my sweet)I want no world (for beautiful you are my world,my true) and it's you are whatever a moon has always meant and whatever a sun will always sing is you.

here is the deepest secret nobody knows (here is the root of the root and the bud of the bud and the sky of the sky of a tree called life; which grows higher than the soul can hope or mind can hide) and this is the wonder that's keeping the stars apart

I carry your heart (I carry it in my heart)”
		― E.E. Cummings
		</pre>
	</div>
	<%- globalHtmlBodyFootTag %>
</body>
</html>
