<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<%- globalHtmlHeadTag %>
	<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
	<%- globalHtmlBodyHeadTag %>
	<div class="content">
		<div id="request" class="btn">REQUEST</div>
	</div>
	<%- globalHtmlBodyFootTag %>
</body>
</html>
