<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<%- globalHtmlHeadTag %>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<link rel='stylesheet' href='css/popGame.css' />
	<script type="text/javascript" src="js/popGame.js"></script>
</head>
<body>
	<%- globalHtmlBodyHeadTag %>
	<canvas></canvas>
	<%- globalHtmlBodyFootTag %>
</body>
</html>
