<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<%- globalHtmlHeadTag %>
	<link rel="stylesheet" href="/jqueryFileUpload/css/jquery.fileupload.css">
	<link rel='stylesheet' href='css/resourceUploadV2.css' />
	<script type="text/javascript" src="https://static.hewenhan.me/aliyun-oss-sdk.min.js"></script>
	<script type="text/javascript" src="js/resourceUploadV2.js"></script>
</head>
<body>
	<%- globalHtmlBodyHeadTag %>
	<div class="content">
		<div class="fileuploadDom">
			<div class="btn uploadBtnClass" id="uploadBtn">选择文件</div>
			<div class="btn uploadBtnClass" onclick="uploadAllFiles()">全部上传</div>
			<div class="lable uploadBtnClass" id="fileListStat">0/0</div>
			<input type="file" id="fileInput" class="fileInput" multiple="multiple"/>
		</div>
		<div class="tableList" id="downloadFileListId">
			
		</div>
		<div class="tableList" id="uploadFileListId">
			
		</div>
	</div>
	<%- globalHtmlBodyFootTag %>
</body>
</html>
