<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<%- globalHtmlHeadTag %>
	<link rel='stylesheet' href='css/resourceList.css' />
	<script type="text/javascript" src="js/resourceList.js"></script>
</head>
<body>
	<%- globalHtmlBodyHeadTag %>
	<div class="content">
		<div id="tableList" class="tableList">
			<!-- <div class="tableCell" id="resourceId_111">
				<div class="pointer btn deleteBtn">删除资源</div>
				<div onclick="showResourceDescription(111)">
					<div class="tableLine">
						<div class="tableTitle">资源名</div>
						<div class="tableLineCell1">222</div>
					</div>
					<div class="tableLine">
						<div class="tableTitle">资源类型</div>
						<div class="tableLineCell1">222</div>
					</div>
					<div class="tableLine">
						<div class="tableTitle">资源地址</div>
						<div class="tableLineCell1 resourceUrl">222</div>
					</div>
					<div class="tableLine">
						<div class="tableTitle">资源MD5</div>
						<div class="tableLineCell1">222</div>
					</div>
					<div class="tableLine">
						<div class="tableTitle">上传时间</div>
						<div class="tableLineCell1">2222</div>
					</div>
				</div>
				<div id="resourceDescriptionId_${resource.id}" class='resourceDescriptionDom'>
					<div class="tableLine">
						<div class="tableTitle">资源预览</div>
						<div class="tableLineCell1">
							222
						</div>
					</div>
					<div class="tableLine">
						<div class="pointer tableTitle2" id="copyResourceUrlBtn_${resource.id}">复制链接</div>
						<div class="pointer tableTitle2" onclick="downloadResource(111)">下载资源</div>
					</div>
				</div>
			</div> -->
		</div>
	</div>
	<%- globalHtmlBodyFootTag %>
</body>
</html>
