<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<%- globalHtmlHeadTag %>
	<link rel='stylesheet' href='css/resourceList.css' />
	<script type="text/javascript" src="js/resourceList.js"></script>
</head>
<body>
	<%- globalHtmlBodyHeadTag %>
	<div class="content">
		<div id="tableList" class="tableList">
		</div>
	</div>
	<%- globalHtmlBodyFootTag %>
</body>
</html>
