<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<%- globalHtmlHeadTag %>
	<link rel='stylesheet' href='css/resourcePick.css' />
	<script type="text/javascript" src="js/resourcePick.js"></script>
</head>
<body>
	<%- globalHtmlBodyHeadTag %>
	<div class="content">
		<div class="inputGroup">
			<div class="lable urlResourceLable">资源页URL:</div>
			<div class="inputDom urlResourceDom">
				<textarea id="urlResourceInput" class="inputBase resourceArea" type="textarea" placeholder="抖音分享链接"></textarea>
			</div>
			<div id="parseResourceBtn" class="btn">解析资源</div>
			<div>解析状态: <span id="parseStat" class="parseStatStandBy">待解析</span></div>
		</div>
		<hr>
		<div class="inputGroup">
			<div class="lable urlResourceLable">解析结果:</div>
			<pre id="resourceParsedResult" class="resourceResultArea" type="div"></pre>
			<div id="putResourceBtn" class="btn">加入资源库</div>
		</div>
	</div>
	<%- globalHtmlBodyFootTag %>
</body>
</html>
